<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="/users/login">
        <button
          style="
            background-color: green;
            padding: 20px 30px;
            font-size: 18px;
            color: white;
            border-radius: 5px;
          "
        >
          Home
        </button>
      </a>
      <a href="/users/articles/new">
        <button
          style="
            background-color: green;
            padding: 20px 30px;
            font-size: 18px;
            color: white;
            border-radius: 5px;
          "
        >
          Add Articles
        </button>
      </a>
    <h1>User Login successfull</h1>
  </body>
</html>
