<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Fill your Details</h1>
    <form
      action="/users/register"
      method="POST"
      style="
        margin: 0 auto;
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        width: 600px;
      "
    >
      <% if(error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <input
        type="text"
        name="name"
        placeholder="Enter Your Name.. "
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />
      <input
        type="text"
        name="email"
        placeholder="Enter your email"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />

      <input
        type="password"
        name="password"
        placeholder="Enter password"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />
      <input
        type="number"
        name="age"
        placeholder="Your Age"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 0 auto;
          font-size: 20px;
        "
      />
      <input
        type="number"
        name="phone"
        placeholder="Enter phone number"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />
      <input
        type="submit"
        value="Register"
        style="
          margin: 0 auto;
          background-color: green;
          color: white;
          padding: 10px;
          font-size: 20px;
          border-radius: 4px;
          margin-top: 10px;
        "
      />
    </form>
  </body>
</html>
