<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Login Successfull!</h1>
    <a href="/users/register">
      <button
        style="
          margin: 0 auto;
          background-color: green;
          color: white;
          padding: 10px;
          font-size: 20px;
          border-radius: 4px;
          margin-top: 10px;
        "
      >
        Register
      </button>
    </a>
    <a href="/users/login">
      <button
        style="
          margin: 0 auto;
          background-color: green;
          color: white;
          padding: 10px;
          font-size: 20px;
          border-radius: 4px;
          margin-top: 10px;
        "
      >
        Login
      </button>
    </a>
  </body>
</html>
