<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/users/login"
      method="POST"
      style="
        margin: 0 auto;
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        width: 600px;
      "
    >
      <h1 style="text-align: center">Login!</h1>
      <% if(error) { %>
      <p style="color: red; font-weight: 700; font-size: 15px"><%= error %></p>
      <% } %>
      <input
        type="text"
        name="email"
        placeholder="Enter your email"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />

      <input
        type="password"
        name="password"
        placeholder="Enter password"
        style="
          width: 90%;
          height: 50px;
          padding: 6px;
          margin: 5px;
          font-size: 20px;
        "
      />
      <input
        style="
          background-color: green;
          padding: 20px 30px;
          font-size: 18px;
          color: white;
          border-radius: 5px;
        "
        type="submit"
        value="Login"
      />
    </form>
  </body>
</html>
